doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description' content='')
    meta(name='author' content='nachon')
    link(rel='icon' type='image/x-icon' href='/assets/img/favicon.ico')

    // Font Awesome icons (free version)
    script(src='https://use.fontawesome.com/releases/v5.15.1/js/all.js' crossorigin='anonymous')

    // Google fonts
    link(href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i' rel='stylesheet')
    
    // Core theme CSS (includes Bootstrap)
    link(href='/stylesheets/styles.css' rel='stylesheet')

    // Leaf Maps
    link(href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" rel="stylesheet")
    script(src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js")

    // Generated by Express
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    // Navigation
        div= usuario
    nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top
      .container
        a.navbar-brand.js-scroll-trigger(href='/') RedBicicletas
        button.navbar-toggler.navbar-toggler-right(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
          | Menu
          i.fas.fa-bars
        #navbarResponsive.collapse.navbar-collapse
          ul.navbar-nav.ml-auto
            li.nav-item
              a.nav-link.js-scroll-trigger(href='/bicicletas') Bicicletas
            li.nav-item
              a.nav-link.js-scroll-trigger(href='/users') Usuarios
            
            if usuario
              li.nav-item
                a.nav-link.js-scroll-trigger(href=`/users/${usuario._id}/update`)= usuario.nombre
              li.nav-item
                a.nav-link.js-scroll-trigger(href=`/logout`) Logout
            else
              li.nav-item
                a.nav-link.js-scroll-trigger(href='/login') Login
              li.nav-item
                a.nav-link.js-scroll-trigger(href=`/users/create`) LogUp
    block content
