extends layout

block content
  div(style="font-size:0.5em") Sus datos serán usados para entrenar una inteligencia artificial que nos permita manipular la opinión pública y, eventualmente, dominar el mundo.
