extends ../layout

block content
  style(type="text/css").
    body{
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 75%, #000000 100%), url("../assets/img/bici.jpg");
      background-size: 100%;
      background-repeat: no-repeat;
      height: 100% 100%;
      background-attachment:fixed;
    }
    .formulario{
      margin-top: 4em;
    }
    .formulario .contenido{
      background-color: white;
      padding: 2em;
    }
    .formulario .contenido *{
      width: 100%;
    }
    .formulario .contenido .btn{
      margin-top: 1em !important;
    }
  br
  br
  .formulario.row.justify-content-center
    .col-lg-4.contenido
      a(href="/users") Volver
      h1(style="font-size: 2em;") Nuevo Usuario
      br
      form(action="/users/create" method="post")
        label(id="nombre") Nombre:
        input#nombre(type="text" name="nombre")
        br
        label(id="email") Email:
        input#email(type="email" name="email")
        br
        label(id="password") Password:
        input#password(type="text" name="password")
        br
        label(id="confirm_password") Confirm Password:
        input#confirm_password(type="text" name="confirm_password")
        br
        input.btn.btn-primary(type="submit" value="Ok")