extends ../layout


block content
  style(type="text/css").
    body{
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 75%, #000000 100%), url("../assets/img/bici.jpg");
      background-size: 100%;
      background-repeat: no-repeat;
      height: 100% 100%;
      background-attachment:fixed;
    }
    .tabla{
      background-color: white;
      min-height: calc(95vh - 4rem);
      max-height: calc(95vh - 4rem);
      overflow: scroll;
      
    }
  .container.tabla(style="margin-top: 4rem;")
    a(href="/" style="font-size: 150%;") Volver

    .row
      h1.col-10.text-center= "Usuarios"
      table.table.justify-md-center
        thead
          tr
            th(scope='col') #
            th(scope='col') Nombre
            th(scope='col') Email
            th(scope='col') Verificado
            th(scope='col')
            th.ml-0(scope='col')
              a(href="/users/create") Agregar
        tbody

          each user in usuarios
            tr
              td(scope="row")= user.id
              td= user.nombre
              td= user.email
              td= user.verificado
              td
                a(href="users/" +user.id + "/update") Editar
              td
                form.inline(method="post" action="users/" + user.code + "/delete")
                  input(type="hidden" name="id" value= user.id)
                  button.link-button.btn.btn-outline-danger(type="submit" name="submit_param" value="submit_value" style="height: auto !important; padding: 0.2em; ")
                    = "Eliminar"