extends ../layout

block content
  style(type="text/css").
    body{
      background: linear-gradient(to bottom, #0002 0%, #000 75%, #000000 100%), url("/assets/img/bici.jpg");
      background-size: 100%;
      background-repeat: no-repeat;
      height: 100% 100%;
      background-attachment:fixed;
    }
    .formulario{
      margin-top: 4em;
    }
    .formulario .contenido{
      background-color: white;
      padding: 2em;
    }
    .formulario .contenido *{
      width: 100%;
    }
    .formulario .contenido .btn{
      margin-top: 1em !important;
    }
  br
  br
  .formulario.row.justify-content-center
    .col-lg-4.contenido
      a(href="/users") Volver
      h1(style="font-size: 2em;") Configurar Cuenta
      br
      form(action="/users/"+usuario.id+"/update" method="post")
        label(id="nombre") Nombre:
        input#nombre(type="text" name="nombre" value=usuario.nombre)
        br
        label(id="email") Email:
        input#email(type="email" name="email" value=usuario.email)
        br
        label(id="password") Password:
        input#password(type="text" name="password")
        br
        input.btn.btn-primary(type="submit" value="Ok")