extends ../layout

block content
  style(type="text/css").
    body{
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 75%, #000000 100%), url("../assets/img/bici.jpg");
      background-size: 100%;
      background-repeat: no-repeat;
      height: 100% 100%;
      background-attachment:fixed;
    }
    .formulario{
      margin-top: 4em;
    }
    .formulario .contenido{
      background-color: white;
      padding: 2em;
    }
    .formulario .contenido *{
      width: 100%;
    }
    .formulario .contenido .btn{
      margin-top: 1em !important;
    }
  br
  br
  .formulario.row.justify-content-center
    .col-lg-4.contenido
      a(href="/bicicletas") Volver
      h1(style="font-size: 2em;") Nueva Bicicleta
      br
      form(action="/bicicletas/create" method="post")
        label(id="id") Code:
        input#id(type="text" name="code")
        br
        label(id="color") Color:
        input#color(type="text" name="color")
        br
        label(id="modelo") Modelo:
        input#modelo(type="text" name="modelo")
        br
        label(id="lat") Latitud:
        input#lat(type="text" name="lat")
        br
        label(id="lng") Longitud:
        input#lng(type="text" name="lng")
        br
        input.btn.btn-primary(type="submit" value="Ok")