extends ../layout


block content
  style(type="text/css").
    body{
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 75%, #000000 100%), url("../assets/img/bici.jpg");
      background-size: 100%;
      background-repeat: no-repeat;
      height: 100% 100%;
      background-attachment:fixed;
    }
    .tabla{
      background-color: white;
      min-height: calc(95vh - 4rem);
      max-height: calc(95vh - 4rem);
      overflow: scroll;
      
    }
  .container.tabla(style="margin-top: 4rem;")
    a(href="/" style="font-size: 150%;") Volver

    .row
      h1.col-10.text-center= "Bicicletas en la red"
      table.table.justify-md-center
        thead
          tr
            th(scope='col') #
            th(scope='col') Color
            th(scope='col') Modelo
            th(scope='col') Ubicación
            th(scope='col')
            th.ml-0(scope='col')
              a(href="/bicicletas/create") Agregar Bicicleta
        tbody
          each bici in bicis
            tr
              td(scope="row")= bici.code
              td= bici.color
              td= bici.modelo
              td= bici.ubicacion
              td
                a(href="bicicletas/" +bici.code + "/update") Editar
              td
                form.inline(method="post" action="bicicletas/" + bici.code + "/delete")
                  input(type="hidden" name="id" value= bici.code)
                  button.link-button.btn.btn-outline-danger(type="submit" name="submit_param" value="submit_value" style="height: auto !important; padding: 0.2em; ")
                    = "Eliminar"