extends ../layout

block content
  style(type="text/css").
    body{
      background: linear-gradient(to bottom, #0002 0%, #000 75%, #000000 100%), url("/assets/img/bici.jpg");
      background-size: 100%;
      background-repeat: no-repeat;
      height: 100% 100%;
      background-attachment:fixed;
    }
    .formulario{
      margin-top: 4em;
    }
    .formulario .contenido{
      background-color: white;
      padding: 2em;
    }
    .formulario .contenido *{
      width: 100%;
    }
    .formulario .contenido .btn{
      margin-top: 1em !important;
    }
  br
  br
  .formulario.row.justify-content-center
    .col-lg-4.contenido
      a(href="/bicicletas") Volver
      br
      br
      h1(style="font-size: 1.8em;") Actualizando Bicicleta

      br

      form(action=`/bicicletas/${bici.code}/update` method="post")
        label(id="id") Code:
        input#id(type="text" name="code" value=bici.code readonly)
        br
        label(id="color") Color:
        input#color(type="text" name="color" value=bici.color)
        br
        label(id="modelo") Modelo:
        input#modelo(type="text" name="modelo" value=bici.modelo)
        br
        label(id="lat") Latitud:
        input#lat(type="text" name="lat" value=bici.ubicacion[0])
        br
        label(id="lng") Longitud:
        input#lng(type="text" name="lng" value=bici.ubicacion[1])
        br
        input.btn.btn-primary(type="submit" value="Ok")